.postsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.postItem {
    border: 1px solid black;
    padding: 1rem;
}

.postItem a {
    text-decoration: none;
    color: black;
}