.postsContainer {
    width: 50%;
    margin: 4rem;
    border: 1px solid var(--border-strong);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: var(--shadow);
}

.scrollInner {
    max-height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    scrollbar-color: var(--primary) var(--bg);
}

.postItem {
    border: 1px solid var(--border);
    border-radius: 1rem;
    width: 100%;
    padding: 1rem;
}

.postItem a {
    text-decoration: none;
}

.postDetails {
    display: flex;
    justify-content: space-between;
    color: var(--text-faint);
}

.postDetails div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}