.homeMain {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.postsContainer {
    width: 60%;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scrollInner {
    width: 100%;
    max-height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: stretch;

    gap: 1rem;
    scrollbar-color: var(--primary) var(--bg);
}

.postItem {
    border: 2px solid var(--primary);
    border-radius: 1rem;
    width: 60%;
    margin: 0 auto;
    padding: 1rem;
}

.postItem:hover {
    border-color: var(--accent);
}

.postItem a {
    text-decoration: none;
    text-align: center;
}

.postTitle {
    font-weight: 900;
    font-size: 1.5rem;
}

.postContent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: var(--text);
}

.postDetails {
    display: flex;
    justify-content: space-between;
    color: var(--text-faint);
}

.postDetails div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.postLikesComments {
    display: flex;
    justify-self: center;
}

.postLikesComments div {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}