.postContainer {
    width: 40%;
}

h1 {
    text-align: center;
    color: var(--primary);
}

.postDetails {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    color: var(--text-faint);
}

.postDetails div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.postContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
    padding: 2rem;
    border-radius: 1rem;
}

.commentsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 2rem;
    border: 1px solid var(--border-strong);
    border-radius: 1rem;
    padding: 1rem;
    overflow: hidden;
    box-shadow: var(--shadow);
}

.commentItem {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--primary);
    border-radius: 1rem;
    width: 100%;
    padding: 1rem;
    margin: 1rem;
}

.commentContent {
    margin-bottom: 0.5rem;
}

.commentDetails {
    display: flex;
    justify-content: space-between;
}

.commentDetails div {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: var(--text-faint);
}