.postContainer {
    width: 50%;
}

h1 {
    text-align: center;
    color: var(--primary);
}

.postDetails {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    color: var(--text-faint);
}

.postDetails div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.likedPost,
.notLikedPost {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    background: none;
    border: none;
    color: white;
}

.likedPost:hover,
.notLikedPost:hover {
    cursor: pointer;
    background-color: var(--text-faint);
}

.postContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 1rem;
}

.commentsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 2rem;
    border: 1px solid var(--border-strong);
    border-radius: 1rem;
    padding: 1rem;
    overflow: hidden;
    box-shadow: var(--shadow);
    gap: 1rem;
}

.commentForm {
    width: 50%;
}

.commentForm button {
    display: flex;
    background-color: var(--bg);
    border: 2px solid var(--accent);
    color: var(--accent);
    border-radius: 0.5rem;
}

.commentForm button:hover {
    cursor: pointer;
}

.commentTextArea {
    background-color: var(--bg);
    border: 2px solid var(--accent);
    border-radius: 0.5rem;
    width: 100%;
    padding: 1rem;
    color: white;
    resize: none;
    margin-bottom: 0.5rem;
}

.commentItem {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-strong);
    border-radius: 1rem;
    width: 100%;
    padding: 1rem;
}

.commentContent {
    margin-bottom: 0.5rem;
}

.commentDetails {
    display: flex;
    justify-content: space-between;
}

.commentDetails div {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: var(--text-faint);
}